http_interactions:
- request:
    method: get
    uri: https://gallica.bnf.fr/iiif/ark:/12148/btv1b9055204k/f1/full/15,7/0/native.png
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-oneagent-js-injection: 'true'
      link: <http://iiif.io/api/image/compliance.html#level2>;rel="profile"
      content-type: image/png
    body:
      encoding: ASCII-8BIT
      file: no
      string: iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHEAAAAACifpS4AAAACXBIWXMAAD2EAAA9hAHVrK90AAAA5ElEQVQI1wHZACb/AE5Zef15u3URfA1sRogaljeQ4pQqoKCeYp7AnvlWRwBtBrhxtb+wFa2XhoS02br4v7vFccmt0jvWvdnJdOQAbUC5E6ltoy+VunAXs+DFIMz4zgHQFNRB1pbc43nhAGiFsgibJI05T49YvmxsplqrQqoBscy32b0WzFV5gQAzmzzCO8Y0MkGiUG1CrT64Qj4yxTlaNsouCzOMNNUAJ0UkpyM9H8gZ+SGLVkUlujpFUBdRWFP9TdNJwzlCAC5sJD4m+ySiIL4X5T/mLsBEslM4V3trDnnogm5q8Hv7ZTfAMNEGAAAAAElFTkSuQmCC
  recorded_at: 2019-12-13 10:38:25 GMT
  recorded_with: vcr/0.4.1.91, webmockr/0.5.1.91
- request:
    method: get
    uri: https://gallica.bnf.fr/iiif/ark:/12148/btv1b90055455/f1/full/15,7/0/native.png
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-oneagent-js-injection: 'true'
      link: <http://iiif.io/api/image/compliance.html#level2>;rel="profile"
      content-type: image/png
    body:
      encoding: ASCII-8BIT
      fil[...]
- request:
    method: get
    uri: https://gallica.bnf.fr/iiif/ark:/12148/btv1b9055204k/f1/manifest.json
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-oneagent-js-injection: 'true'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "@id" : "https://gallica.bnf.fr/iiif/ark:/12148/btv1b9055204k/manifest.json",
          "label" : "BnF, département Estampes et photographie, EI-13 (2726)",
          "attribution" : "Bibliothèque nationale de France",
          "license" : "https://gallica.bnf.fr/html/und/conditions-dutilisation-des-contenus-de-gallica",
          "logo" : "https://gallica.bnf.fr/mbImage/logos/logo-bnf.png",
          "related" : "https://gallica.bnf.fr/ark:/12148/btv1b9055204k",
          "seeAlso" : [ "http://oai.bnf.fr/oai2/OAIHandler?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:bnf.fr:gallica/ark:/12148/btv1b9055204k" ],
          "description" : "Monuments de Paris : La Tour Eiffel : [photographie de presse] / Agence Meurisse",
          "metadata" : [ {
            "label" : "Repository",
            "value" : "Bibliothèque nationale de France"
          }, {
            "label" : "Digitised by",
            "value" : "Bibliothèque nationale de France"
          }, {
            "label" : "Source Images",
            "value" : "https://gallica.bnf.fr/ark:/12148/btv1b9055204k"
          }, {
            "label" : "Metadata Source",
            "value" : "http://oai.bnf.fr/oai2/OAIHandler?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:bnf.fr:gallica/ark:/12148/btv1b9055204k"
          }, {
       [...]
- request:
    method: get
    uri: https://gallica.bnf.fr/iiif/ark:/12148/btv1b90055455/f1/manifest.json
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-oneagent-js-injection: 'true'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "@id" : "https://gallica.b[...]
