http_interactions:
- request:
    method: get
    uri: https://gallica.bnf.fr/iiif/12345/manifest.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-oneagent-js-injection: 'true'
      content-type: application/json;charset=UTF-8
      content-language: fr-FR
    body:
      encoding: UTF-8
      string: "{\"messageSignalFragment\":{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"contenu\":\"Signalez-nous
        votre problème\",\"description\":\"Erreur interne du serveur Gallica concernant
        l'ark https://gallica.bnf.fr/iiif/12345/manifest.json\",\"selected\":false,\"url\":\"gallica@bnf.fr\",\"etat\":\"\",\"bindUrl\":\"\"},\"HeaderBarFragment\":{\"display\":true,\"active\":true,\"parameters\":{},\"contenu\":{},\"firstGroupFragment\":{\"display\":true,\"active\":true,\"parameters\":{},\"etat\":\"\"},\"secondGroupFragment\":{\"display\":true,\"active\":true,\"parameters\":{},\"etat\":\"\"},\"thirdGroupFragment\":{\"display\":true,\"active\":true,\"parameters\":{},\"etat\":\"\"},\"fourthGroupFragment\":{\"display\":true,\"active\":true,\"parameters\":{},\"etat\":\"\"},\"mainHeaderBarFragment\":{\"display\":true,\"active\":true,\"parameters\":{},\"contenu\":{\"lienPanier\":{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"contenu\":\"https://achatsreproduction.bnf.fr/views/vel/mon_panier.jsf\",\"selected\":false,\"etat\":\"\"},\"newDoc\":{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"contenu\":\"Nouveau\",\"selected\":false,\"etat\":\"\"},\"titleDoc\":{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"contenu\":\"Titre\",\"selected\":false,\"etat\":\"\"},\"Libelles\":{\"display\":true,\"active\":true,\"parameters\":{\"listeLibelles\":[[\"EN
        SAVOIR +\"],[\"A propos\"],[\"Conditions d'utilisation\"],[\"LIENS UTILES\"],[\"Aide\"],[\"Accessibilité\"],[\"Une
        question ?\"],[\"SERVICES MOBILES\"],[\"Accéder au site mobile\"],[\"RETROUVER
        GALLICA SUR\"],[\"Lire les derniers billets du blog\"],[\"Recevoir la lettre
        d'information\"],[\"S'abonner\"],[\"Consulter les anciens numéros\"],[\"Espace
        personnel : cette fonction n'est pas encore disponible\"],[\"Panier\"],[\"Espace
        personnel\"],[\"En ligne\"],[\"Mentions légales\"]],\"labelBlogLien\":\"Lire
        les derniers billets du blog\"},\"etat\":\"\"},\"delDoc\":{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"contenu\":\"Supprimer\",\"selected\":false,\"etat\":\"\"},\"espacePerso\":{\"display\":true,\"active\":true,\"parameters\":{},\"contenu\":[{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"description\":\"Profil\",\"selected\":false,\"url\":\"https://noticesetdocuments.bnf.fr/views/modifierCompte.jsf?AppOrigine=Gallica\",\"etat\":\"\",\"bindUrl\":\"\"},{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"description\":\"Documents\",\"selected\":false,\"url\":\"https://noticesetdocuments.bnf.fr/views/gallicaDocs.jsf?AppOrigine=Gallica\",\"etat\":\"\",\"bindUrl\":\"\"},{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"description\":\"Marques-pages\",\"selected\":false,\"url\":\"https://noticesetdocuments.bnf.fr/views/gallicaAffichageMarquePageDoc.jsf?AppOrigine=Gallica\",\"etat\":\"\",\"bindUrl\":\"\"},{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"description\":\"Préférences\",\"selected\":false,\"url\":\"https://noticesetdocuments.bnf.fr/views/gallicaPreferences.jsf?AppOrigine=Gallica\",\"etat\":\"\",\"bindUrl\":\"\"},{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"description\":\"Recherches\",\"selected\":false,\"url\":\"https://noticesetdocuments.bnf.fr/views/gallicaSearches.jsf?AppOrigine=Gallica\",\"etat\":\"\",\"bindUrl\":\"\"}],\"etat\":\"\"},\"lienProfil\":{\"display\":true,\"active\":true,\"parameters\":{\"role\":\"link\"},\"contenu\":\"https://noticesetdocuments.bnf.fr/views/accueilEspacePerso.jsf?AppOrigine=Gallica\",\"selected\":false,\"etat\":\"\"},\"menuSelection\":{\"display\":true,\"active\":true,\"parameters\":{},\"menu\":{\"raccourciLabelAllerAuContenu\":\"accessibilite.aller.contenu\",\"btnSelectionLabel\":\"nos
        sélections\",\"toutesel\":{\"touteseltitre\":\"EXPLORER TOUT\",\"toutesellien\":\"/html/und/les-selections-de-gallica\",\"touteseltexte\":\"<p>Partez
        à la découverte de documents sélectionnés et regroupés par nos soins</p>\\n\",\"touteselimage\":\"https://gallica.bnf.fr/html/sites/default/files/gallica_menuselections_test02.jpg\"},\"menu_abcd\":{\"001-4737\":{\"Title\":\"TOUTES
        NOS SÉLECTIONS\",\"href\":\"<nolink>\",\"below\":{\"001-4738\":{\"Title\":\"A\",\"href\":\"<nolink>\",\"below\":{\"001-4746\":{\"Title\":\"Abécédaires\",\"href\":\"https://gallica.bnf.fr/html/und/livres/abecedaires\",\"below\":null,\"submenu\":null,\"abcd\":null},\"002-4748\":{\"Title\":\"Affiches\",\"href\":\"https://gallica.bnf.fr/html/und/images/affiches-et-affichistes-xixe-xxe\",\"below\":null,\"submenu\":null,\"abcd\":null},\"003-4788\":{\"Title\":\"Afrique\",\"href\":\"https://gallica.bnf.fr/html/und/afrique/accueil\",\"below\":null,\"submenu\":null,\"abcd\":null},\"004-4790\":{\"Title\":\"Amérique\",\"href\":\"https://gallica.bnf.fr/html/und/ameriques/accueil\",\"below\":null,\"submenu\":null,\"abcd\":null},\"005-4800\":{\"Title\":\"Architec[...]
- request:
    method: get
    uri: https://gallica.bnf.fr/iiif/ark:/12148/btv1b9055204k/f1/manifest.json
    body:
      encoding: ISO-8859-1
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-oneagent-js-injection: 'true'
      content-type: application/json;charset=UTF-8
    body:
      encoding: ISO-8859-1
      string: |-
        {
          "@id" : "https://gallica.bnf.fr/iiif/ark:/12148/btv1b9055204k/manifest.json",
          "label" : "BnF, département Estampes et photographie, EI-13 (2726)",
          "attribution" : "Bibliothèque nationale de France",
          "license" : "https://gallica.bnf.fr/html/und/conditions-dutilisation-des-contenus-de-gallica",
          "logo" : "https://gallica.bnf.fr/mbImage/logos/logo-bnf.png",
          "related" : "https://gallica.bnf.fr/ark:/12148/btv1b9055204k",
          "seeAlso" : [ "http://oai.bnf.fr/oai2/OAIHandler?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:bnf.fr:gallica/ark:/12148/btv1b9055204k" ],
          "description" : "Monuments de Paris : La Tour Eiffel : [photographie de presse] / Agence Meurisse",
          "metadata" : [ {
            "label" : "Repository",
            "value" : "Bibliothèque nationale de France"
          }, {
            "label" : "Digitised by",
            "value" : "Bibliothèque nationale de France"
          }, {
            "label" : "Source Images",
            "value" : "https://gallica.bnf.fr/ark:/12148/btv1b9055204k"
          }, {
            "label" : "Metadata Source",
            "value" : "http://oai.bnf.fr/oai2/OAIHandler?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:bnf.fr:gallica/ark:/12148/btv1b9055204k"
          }, {
       [...]
